input[name='payment_type'] {
    &:checked {
        ~ label {
            opacity: 1;
            border-color: #2f5acf;
            span {
                border-color: #2f5acf;
                > .checkmark {
                    display: block;
                }
            }
        }
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
